{% extends "base.html" %}
{% block title %}ToolBox datetime{% endblock %}

{% block container %}
<div class="main">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">当前时间</label>
            <div class="layui-form-mid layui-word-aux" id="showDateTime"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">当前时间戳</label>
            <div class="layui-form-mid layui-word-aux" id="showTimestamp"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">时间戳</label>
            <div class="layui-input-inline">
                <input type="text" name="timestamp" id="timestampInput" required lay-verify="required" placeholder="示例: 1599914152" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux" id="timestampAux"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">日期</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="dateInput" placeholder="YYYY-MM-dd">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">时间</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="datetimeInput" placeholder="YYYY-MM-dd HH:mm:ss">
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block extendScript %}
<script>
var baseURL = document.location.origin;
Date.prototype.yyyymmdd = function(format) {
    var month = this.getMonth() + 1; // getMonth() is zero-based
    var day = this.getDate();
    var hour = this.getHours();
    var minute = this.getMinutes();
    var second = this.getSeconds();

    var ymdStr = [
        this.getFullYear(),
        (month > 9 ? '' : '0') + month,
        (day > 9 ? '' : '0') + day
    ].join('-')

    var hmsStr = [
        (hour > 9 ? '' : '0') + hour,
        (minute > 9 ? '' : '0') + minute,
        (second > 9 ? '' : '0') + second
    ].join(':')

    var result = ymdStr + ' ' + hmsStr;

    return result;
};

function FuncTimestampToDate(timestamp) {
    var date = new Date(timestamp * 1000);
    return date.yyyymmdd();
}


layui.use(['form', 'laydate', 'table'], function() {
    var $ = layui.jquery,
        form = layui.form,
        table = layui.table,
        laydate = layui.laydate;

    var dateBox = laydate.render({
        elem: '#dateInput',
        // show: true,
        change: function(value, date, endDate) {
            alert(value);
        }
    });

    var dateTimeBox = laydate.render({
        elem: '#datetimeInput',
        format: 'yyyy-MM-dd HH:mm:ss',
        // show: true,
        change: function(value, date, endDate) {
            console.log(value, date, endDate)
        }
    });

    $("#timestampInput").on("input", function(e) {
        var timestampStr = e.delegateTarget.value;
        if (timestampStr.length >= 10) {

            var result = FuncTimestampToDate(timestampStr);
            $('#timestampAux').html(result);
        }
    });


});


(function () {
    getRealTime();

    setInterval("getRealTime();", 1000); //每隔一秒执行一次

})();
function getRealTime() {
    var myDate = new Date();

    var seconds = Math.floor(new Date().getTime() / 1000);

    document.getElementById("showDateTime").innerHTML = myDate.yyyymmdd();
    document.getElementById("showTimestamp").innerHTML = seconds;
}
</script>
{% endblock extendScript %}
