{% extends "base.html" %}
{% block title %}ToolBox idcard create{% endblock %}

{% block container %}
<div class="main">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">地址选择</label>
            <div class="layui-input-inline">
                <select name="provinces" id="provinces" lay-filter="provinces">
                    <option value="11000000">北京</option>
                    <option value="12000000">天津</option>
                    <option value="13000000">河北</option>
                    <option value="14000000">山西</option>
                    <option value="15000000">内蒙古</option>
                    <option value="21000000">辽宁</option>
                    <option value="22000000">吉林</option>
                    <option value="23000000">黑龙江</option>
                    <option value="31000000">上海</option>
                    <option value="32000000">江苏</option>
                    <option value="33000000">浙江</option>
                    <option value="34000000">安徽</option>
                    <option value="35000000">福建</option>
                    <option value="36000000">江西</option>
                    <option value="41000000">河南</option>
                    <option value="42000000">湖北</option>
                    <option value="43000000">湖南</option>
                    <option value="44000000">广东</option>
                    <option value="45000000">广西</option>
                    <option value="46000000">海南</option>
                    <option value="50000000">重庆</option>
                    <option value="51000000">四川</option>
                    <option value="52000000">贵州</option>
                    <option value="53000000">云南</option>
                    <option value="54000000">西藏</option>
                    <option value="61000000">陕西</option>
                    <option value="62000000">甘肃</option>
                    <option value="63000000">青海</option>
                    <option value="64000000">宁夏</option>
                    <option value="65000000">新疆</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="cities" id="cities" lay-filter="cities">
                    <option value=""></option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="areas" id="areas">
                    <option value=""></option>
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">出生日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="birthday" id="birthday" lay-verify="birthday" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="gender" value="不限" title="不限" checked="">
                <input type="radio" name="gender" value="男" title="男">
                <input type="radio" name="gender" value="女" title="女">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="idcardForm">生成</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <div style="text-align: left;margin: 28px 0 28px 50px;">
        <p style="font-size: 22px;color:#8a8a8a" id="IdCardResult"></p>
    </div>
</div>
{% endblock %}

{% block extendScript %}
<script src="/static/js/region.code.min.js"></script>
<script>
layui.use(['form', 'layedit', 'laydate'], function() {
    var form = layui.form,
        layer = layui.layer,
        $ = layui.jquery,
        layedit = layui.layedit,
        laydate = layui.laydate;

    //日期
    laydate.render({
        elem: '#birthday',
        value: new Date(),
    });

    function freshForm() {
        form.render();
    }

    function renderAddress (address, districtDom) {
        var elem = ''
        if(address.length > 0) {
            for(let i = 0; i < address.length; i++) {
                elem += '<option value="' + address[i].region_code + '">' + address[i].name + '</option>'
            }
            $(districtDom).html(elem)
        }

        freshForm()
    }

    var cities = [];

    function loadRegion(regionCode) {
        var url = '/static/address/'+ regionCode +'.json'
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'json'
        }).done(resp => {
            cities = resp;
            renderAddress(resp, '#cities')
            if (resp[0].subareas.length > 0) {
                renderAddress(resp[0].subareas, '#areas');
            }
        }).fail(err => {
            if(err.status == 500) {
                layer.msg('服务器500报错！')
                return false
            }
        })
    }
    loadRegion('11000000');
    form.on('select(provinces)', function(data){
        loadRegion(data.value)
    });
    form.on('select(cities)', function(data){
        var areas = [];
        $.each(cities, function(key, item) {
            if (item.region_code == data.value) {
                areas = item.subareas;
            }
        })
        renderAddress(areas, '#areas');
    });

    //创建一个编辑器
    var editIndex = layedit.build('LAY_demo_editor');

    //自定义验证规则
    form.verify({
        title: function(value) {
            if (value.length < 5) {
                return '标题至少得5个字符啊';
            }
        },
        pass: [
            /^[\S]{6,12}$/, '密码必须6到12位，且不能出现空格'
        ],
        content: function(value) {
            layedit.sync(editIndex);
        }
    });

    //监听提交
    form.on('submit(idcardForm)', function(data) {
        var region_code = data.field.areas.slice(0, 6);
        var birthday = data.field.birthday.replace(/-/g, '');
        var gender_name = data.field.gender;

        var idcardList = [];
        while (idcardList.length < 10) {
            var itemObj = renderOneIDCard(region_code, birthday, gender_name);
            var idcard = itemObj.idcard;

            if (!idcardList.includes(idcard)) {
                var regionName = REGION_CODE_MAP[region_code];

                var gender_display_name = parseInt(itemObj.gender_code) % 2 === 0 ? '女' : '男';
                var oneline = idcard + '&nbsp;&nbsp;' + '地区: ' + regionName + '&nbsp;生日: ' + birthday + '&nbsp;性别: ' + gender_display_name;
                idcardList.push(oneline);
            }
        }
        var result = idcardList.join('<br/>');

        $('#IdCardResult').html(result);

        return false;
    });

    var renderOneIDCard = function(region_code, birthday, gender_name) {
        let gender_code;
        if (gender_name === '男') {
            var male_array = ['1', '3', '5', '7', '9'];
            gender_code = male_array[Math.floor(Math.random() * male_array.length)];
        } else if (gender_name === '女') {
            var female_array = ['0', '2', '4', '6', '8'];
            gender_code = female_array[Math.floor(Math.random() * female_array.length)];
        } else {
            gender_code = Math.floor(Math.random() * 10).toString();
        }

        // 顺序码 两位
        var order_code = Math.floor(Math.random() * 100).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false});

        var idcard = generateIDCard(region_code, birthday, order_code, gender_code);

        return {'idcard': idcard, 'gender_code': gender_code};
    }

    var generateIDCard = function(region_code, birthday, order_code, gender) {
        const factors = [7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2];
        const ckcodes = ['1', '0', 'X', '9', '8', '7', '6', '5', '4', '3', '2'];

        var idcard = region_code + birthday + order_code + gender;
        let copulas = 0;
        for (var index = 0; index < idcard.length; index++) {
            intWord = parseInt(idcard[index]);
            if (isNaN(intWord)) {
                return '';
            } else {
                copulas += intWord * factors[index];
            }
        }
        return idcard + ckcodes[copulas % 11];
    }
});
</script>
{% endblock extendScript %}
