{% extends "base.html" %}
{% block title %}online{% endblock %}
{% block container %}
<h1>ToolBox </h1>
<p class="description">共收录 8 个分类， 119 个工具 总有一款 适合你</p>
<div class="sectors">
    <div class="sector">
        <h2>DateTime</h2>
        <div class="links">
            <a href="/tb/datetime" class="link"><img src="/static/imgs/datetime.png" alt="">
                <div class="info">
                    <h3>日期与时间</h3>
                    <p>日期时间处理</p>
                </div>
            </a>
        </div>
    </div>
    <div class="sector">
        <h2>QRCode</h2>
        <div class="links">
            <a href="/tb/qrcode" class="link"><img src="/static/imgs/qrcode.png" alt="">
                <div class="info">
                    <h3>QRCode</h3>
                    <p>生成二维码</p>
                </div>
            </a>
        </div>
    </div>
    <div class="sector">
        <h2>HTML Tools</h2>
        <div class="links">
            <a href="/tb/htmlpreview" class="link"><img src="/static/imgs/htmlpreview.png" alt="">
                <div class="info">
                    <h3>HTML Preview</h3>
                    <p>HTML预览</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}