{% extends "base.html" %}
{% block title %}ToolBox pyodide{% endblock %}
{% block extendStyle %}
<link
    rel="stylesheet"
    data-name="vs/editor/editor.main"
    href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.23.0/min/vs/editor/editor.main.css"
/>
<style>
.page .container {
    display: flex;
    width: 1024px;
}

.container > .leftMenu {
    width:  250px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(180, 195, 255, .3);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border-radius: 2px;
    padding-top: 10px;
}
.menuItem {
    width: 100%;
    height:  32px;
    line-height: 32px;
    text-align: left;
    text-indent: 20px;
    cursor: pointer;
}
.menuItem:hover {
    color: #20A0FF;
}

#htmlpreview {
    display: block;
   /* justify-content: center;
    align-items: center;*/
    width: 100%;
}
#htmlpreview > .boxItem{
    width: 100%;
    margin: 0;
    /*padding: 10px;*/
    text-align: left;
    box-sizing: border-box;
}
.boxItem:first-child {
    /*border-right: 1px dashed #ccc;*/
}
#InputData {
    width: 100%;
    height: 450px;
    font-size: 18px;
}
textarea {
    resize: none;
    padding: 0;
    margin: 0;
    border: none;
}
#PreviewBox {
    width: 100%;
    min-height: 450px;
    overflow: auto;
    padding: 15px;
}
</style>
{% endblock extendStyle %}

{% block container %}
<div class="leftMenu">
    <div class="menuItem" onclick="menuItemClick('hello')">Python 入门</div>
    <div class="menuItem" onclick="menuItemClick('dataType')">数据类型</div>
    <div class="menuItem" onclick="menuItemClick('loop')">循环</div>
    <div class="menuItem" onclick="menuItemClick('function')">函数</div>
</div>
<div class="main">
   <div id="htmlpreview">
       <div class="boxItem"><div id="InputData"></div></div>
       <div class="boxItem">
            <textarea placeholder="" id="PreviewBox"></textarea>
       </div>
   </div>
</div>
{% endblock %}

{% block extendScript %}
<script>
    var require = { paths: { vs: 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.23.0/min/vs' } };
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.23.0/min/vs/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.23.0/min/vs/editor/editor.main.nls.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.23.0/min/vs/editor/editor.main.js"></script>
<script src="https://cdn.jsdelivr.net/pyodide/v0.17.0/full/pyodide.js"></script>

<script src="/static/python/democode.js" type="text/javascript"></script>

<script>
var InputData = document.getElementById('InputData');

const configOptions = {
    value: '\n# 基于 pyodide 实现\n# https://github.com/pyodide/pyodide\n',
    language: 'python',
    theme: "vs-dark",
    fontSize: "14px",
};
var editorObject = monaco.editor.create(InputData, configOptions);

var PreviewBox = document.getElementById('PreviewBox');

(function() {
    var old = console.log;
    console.log = function (message) {
        if (typeof message == 'object') {
            PreviewBox.value += (JSON && JSON.stringify ? JSON.stringify(message) : message) + '\n';
        } else {
            PreviewBox.value += message + '\n';
        }
    }

    InputData.focus();
    InputData.onkeyup = delay(function(event) {
        const rawcode = editorObject.getValue();
        if (rawcode) {
          PreviewBox.value = '';
          evaluatePython();
        }
    }, 1200);
})();

function delay(callback, ms) {
  var timer = 0;
  return function() {
    var context = this, args = arguments;
    clearTimeout(timer);
    timer = setTimeout(function () {
      callback.apply(context, args);
    }, ms || 0);
  };
}

function addToOutput(s) {
  // const rawcode = editorObject.getValue();
  // PreviewBox.value += '>>>' + rawcode + '\n' + s + '\n';
  // PreviewBox.value = s + '\n';
}

PreviewBox.value = 'Initializing...\n';
// init Pyodide
async function main(){
  // await loadPyodide({ indexURL : '/static/pyodide/' });
  await loadPyodide({ indexURL: 'https://cdn.jsdelivr.net/pyodide/v0.17.0/full/'});

  PreviewBox.value += 'Ready!\n';
}

let pyodideReadyPromise = main();

async function evaluatePython() {
  const rawcode = editorObject.getValue();

  await pyodideReadyPromise;
  try {
    PreviewBox.value = '';
    let output = await pyodide.runPythonAsync(rawcode);

    // addToOutput(output);
  } catch(err) {
    addToOutput(err);
  }
}

function menuItemClick(menu_name) {
    code_name = getCodeValue(menu_name);

    editorObject.getModel().setValue(code_name);

    const rawcode = editorObject.getValue();
    if (rawcode) {
        evaluatePython();
    }
}
</script>
{% endblock extendScript %}
