{% extends "base.html" %}
{% block title %}ToolBox SQL format{% endblock %}
{% block extendStyle %}
<link href="/static/css/prism.css" rel="stylesheet" />
<style>
.copy-to-clipboard-button {
    cursor: pointer;
}
.htmlpreview {
    display: block;
    width: 100%;
}
.htmlpreview > .boxItem{
    width: 100%;
    margin: 0;
    text-align: left;
}

#InputData {
    font-size: 18px;
    color:#8a8a8a;
    width: 100%;
    height: 300px;
    border-bottom: 1px dashed #ccc;
}
textarea {
    resize: none;
    padding: 0;
    margin: 0;
    border: none;
}
#PreviewBox {
    width: 100%;
    min-height: 450px;
    overflow: auto;
}
</style>
{% endblock extendStyle %}

{% block container %}
<div class="main">
   <div class="htmlpreview">
       <div class="boxItem"><textarea placeholder="请输入SQL语句" id="InputData"></textarea></div>
       </div>
       <div class="boxItem" id="PreviewBox"></div>
   </div>
</div>
{% endblock %}

{% block extendScript %}
<script src="/static/js/prism.js"></script>
<script type="text/javascript" src="/static/js/sql-formatter.min.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
var InputData = document.getElementById('InputData');
var PreviewBox = document.getElementById('PreviewBox');
InputData.value = '';

(function() {
    InputData.focus();
    InputData.onkeyup = function(event) {
        if (InputData.value) {
            PreviewBox.innerHTML = doSQLFormatPrismPreview(InputData.value);
            Prism.highlightAll();
        }
    };
})();

var doSQLFormat = function(data) {
    var result = sqlFormatter.format(data, {indent: "\t"});
    return result + '\n';
}

var PrismPreview = function(data) {
    return marked(data);
}

var doSQLFormatPrismPreview = function(data) {
    var result = '```sql\n' + doSQLFormat(data) + '```';
    return PrismPreview(result);
}
</script>
{% endblock extendScript %}
