{% extends "base.html" %} {% block title %}online{% endblock %} {% block
container %}
<h1>ToolBox Online</h1>
<p class="description">共收录 8 个分类， 119 个工具 总有一款 适合你</p>
<div class="sectors">
  <div class="sector">
    <h2>热门</h2>
    <div class="links">
      <a href="/tb/datetime" class="link"
        ><img src="/static/imgs/datetime.png" alt="" />
        <div class="info">
          <h3>日期与时间</h3>
          <p>日期时间处理</p>
        </div>
      </a>
      <a href="/tb/qrcode" class="link"
        ><img src="/static/imgs/qrcode.png" alt="" />
        <div class="info">
          <h3>QRCode</h3>
          <p>生成/识别 二维码</p>
        </div>
      </a>
      <a href="/tb/htmlpreview" class="link"
        ><img src="/static/imgs/htmlpreview.png" alt="" />
        <div class="info">
          <h3>HTML Preview</h3>
          <p>HTML预览</p>
        </div>
      </a>
    </div>
  </div>
  <div class="sector">
    <h2>最新</h2>
    <div class="links">
      <a href="/tb/lua" class="link"
        ><img src="/static/imgs/lua.png" alt="" />
        <div class="info">
          <h3>Lua Playground</h3>
          <p>Run Lua in Web</p>
        </div>
      </a>
      <a href="/tb/pyjson" class="link"
        ><img src="/static/imgs/default.png" alt="" />
        <div class="info">
          <h3>PyJSON</h3>
          <p>Python Object Convert to JSON</p>
        </div>
      </a>
      <a href="/tb/binhex" class="link"
        ><img src="/static/imgs/default.png" alt="" />
        <div class="info">
          <h3>BinHexDecimal</h3>
          <p>进制转换</p>
        </div>
      </a>
      <a href="/tb/jsconsole" class="link"
        ><img src="/static/imgs/default.png" alt="" />
        <div class="info">
          <h3>jsconsole</h3>
          <p>jsconsole</p>
        </div>
      </a>
      <a href="/tb/prism" class="link"
        ><img src="/static/imgs/default.png" alt="" />
        <div class="info">
          <h3>Prism preview</h3>
          <p>Prism预览</p>
        </div>
      </a>
      <a href="/tb/mime" class="link"
        ><img src="/static/imgs/default.png" alt="" />
        <div class="info">
          <h3>MIME Type</h3>
          <p>MIME表格</p>
        </div>
      </a>
      <a href="/tb/ascii" class="link"
        ><img src="/static/imgs/default.png" alt="" />
        <div class="info">
          <h3>ASCII</h3>
          <p>ASCII表</p>
        </div>
      </a>
      <a href="/tb/pinyin" class="link"
        ><img src="/static/imgs/pinyin.png" alt="" />
        <div class="info">
          <h3>pinyin</h3>
          <p>汉字拼音</p>
        </div>
      </a>
      <a href="/tb/latex" class="link"
        ><img src="/static/imgs/latex.png" alt="" />
        <div class="info">
          <h3>latex</h3>
          <p>Latex</p>
        </div>
      </a>
      <a href="/tb/binstr" class="link"
        ><img src="/static/imgs/binstr.png" alt="" />
        <div class="info">
          <h3>字符串转01串</h3>
          <p>字符串转01串</p>
        </div>
      </a>
      <a href="/tb/md5" class="link"
        ><img src="/static/imgs/md5.png" alt="" />
        <div class="info">
          <h3>md5加密</h3>
          <p>md5加密</p>
        </div>
      </a>
      <a href="/tb/sha" class="link"
        ><img src="/static/imgs/encryption.png" alt="" />
        <div class="info">
          <h3>SHA</h3>
          <p>SHA</p>
        </div>
      </a>
      <a href="/tb/aes" class="link"
        ><img src="/static/imgs/aes.png" alt="" />
        <div class="info">
          <h3>AES</h3>
          <p>AES加密/解密</p>
        </div>
      </a>
      <a href="/tb/rsa" class="link"
        ><img src="/static/imgs/rsa.png" alt="" />
        <div class="info">
          <h3>RSA</h3>
          <p>RSA加密/解密</p>
        </div>
      </a>
      <a href="/tb/sqlfmt" class="link"
        ><img src="/static/imgs/sql.png" alt="" />
        <div class="info">
          <h3>SQL format</h3>
          <p>SQL格式化显示</p>
        </div>
      </a>
      <a href="/tb/regexper" target="_blank" class="link">
        <img src="/static/imgs/regexper.png" alt="" />
        <div class="info">
          <h3>Regexper</h3>
          <p>正则校验</p>
        </div>
      </a>
      <a href="/tb/idcardcheck" target="_blank" class="link">
        <img src="/static/imgs/idcard.png" alt="" />
        <div class="info">
          <h3>IDCard check</h3>
          <p>身份证号码校验</p>
        </div>
      </a>
      <a href="/tb/idcardcreate" target="_blank" class="link">
        <img src="/static/imgs/idcard.png" alt="" />
        <div class="info">
          <h3>IDCard create</h3>
          <p>身份证号码生成</p>
        </div>
      </a>
      <a href="/tb/jsonfmt" target="_blank" class="link">
        <img src="/static/imgs/json.png" alt="" />
        <div class="info">
          <h3>JSON format</h3>
          <p>JSON格式化</p>
        </div>
      </a>
      <a href="/tb/urltools" class="link">
        <img src="/static/imgs/url.png" alt="" />
        <div class="info">
          <h3>URL 编解码</h3>
          <p>URL 编解码</p>
        </div>
      </a>
      <a href="/tb/base64" class="link"
        ><img src="/static/imgs/base64.png" alt="" />
        <div class="info">
          <h3>Base64编解码</h3>
          <p>Base64编解码</p>
        </div>
      </a>
    </div>
  </div>
  {% endblock %}
</div>
